<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="technited.minds.asavideoslider">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <!--        android:icon="@drawable/icon"-->

        <service
            android:name="technited.minds.asavideoslider.MyService"
            android:label="MyService">

        </service>
    </application>
</manifest>
